.container {
  width: 400px;
  height: 600px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.search-bar {
  height: 50px;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  z-index: 10;
  position: relative;
  margin: 10px auto;
}

.input {
  width: 220px !important;
  border: none;
}

.filterIcon {
  width: 25px;
  height: auto;
}
