@import "~antd/dist/antd.css";

body {
  font-family: "Courier New", Courier, monospace;
}

.App {
  display: flex;
}

.content {
  flex-grow: 10;
  position: relative;
  background-color: black;
  height: 100vh;
}
